<div *ngIf="id > 0"
     [style.left.px]="positionX * 54"
     [style.top.px]="positionY * 54"
     [style.border]="id === 0 ? 'none' : 'solid'"
     [style.background]="id === 0 ? 'white' : 'gray'"
     (click)="onClick()">

  <span>{{id | number: '1.0-0'}}</span>
</div>
