<div class="board">
  <ng-template #container></ng-template>
</div>

<div class="buttons" style="margin-top: 300px">
  <button (click)="shuffleTiles()">Reshuffle</button>
</div>

<h1 class="status" style="color: blue; font-size: xxx-large" *ngIf="isWin">YOU WIN!!!</h1>
